// colors

$off-color: #231d25;
$dark-green: #567c54;
$green:#243023;
$light-green: #354933;
$off-white: #a5afd7;
$orange: #FC6712;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//Media Queries for small devices
$desktop-breakpoint: 45rem; 